{% extends 'base.html' %}
{% load static %}
{% block content %}
<!--====== SLIDER PART START ======-->
    <!-- <h1 class="test">test</h1> -->
    <section id="slider-part" class="slider-active">
        <div class="single-slider bg_cover pt-150" data-overlay="4">
            <div class="container">
                <div class="row">
                    <div class="col-xl-7 col-lg-9">
                        <div class="slider-cont">
                            <h1 data-animation="bounceInLeft" data-delay="1s">Платформа для онлайн-видеокурсов</h1>
                            <p data-animation="fadeInUp" data-delay="1.3s">Добро пожаловать на нашу онлайн платформу, где открывается мир знаний через видеокурсы!</p>
                            <ul>
                                <li><a data-animation="fadeInUp" data-delay="1.6s" class="main-btn" href="{% url 'elessons' %}">Перейти к видеокурсам</a></li>
                            </ul>
                        </div>
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- single slider -->
        
        <div class="single-slider2 bg_cover pt-150" data-overlay="4">
            <div class="container">
                <div class="row">
                    <div class="col-xl-7 col-lg-9">
                        <div class="slider-cont">
                            <h1 data-animation="bounceInLeft" data-delay="1s">Система тестирования</h1>
                            <p data-animation="fadeInUp" data-delay="1.3s">Проверьте свои знания с помощью нашей системы тестирования. Проходите тесты, закрепляйте материал и отслеживайте свой прогресс!</p>
                            <ul>
                                <li><a data-animation="fadeInUp" data-delay="1.6s" class="main-btn" href="{% url 'quizer_choose' %}">Перейти к тестированию</a></li>
                            </ul>
                        </div>
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- single slider -->
        
        
        <div class="single-slider3 bg_cover pt-150" data-overlay="4">
            <div class="container">
                <div class="row">
                    <div class="col-xl-7 col-lg-9">
                        <div class="slider-cont">
                            <h1 data-animation="bounceInLeft" data-delay="1s">Онлайн-тренажеры</h1>
                            <p data-animation="fadeInUp" data-delay="1.3s">Используйте нашу систему тренажеров для практики работы с дробями и выражениями. Совершенствуйте свои навыки через интерактивные задания!</p>
                            <ul>
                                <li><a data-animation="fadeInUp" data-delay="1.6s" class="main-btn" href="{% url 'expressions' %}">Перейти к тренажеру</a></li>
                            </ul>
                        </div>
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- single slider -->
        
    </section>
    
    <!--====== SLIDER PART ENDS ======-->
   
    <!--====== CATEGORY PART START ======-->
    
    <section id="category-part">
        <div class="container">
            <div class="category pt-40 pb-80">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="category-text pt-40">
                            <h2>Предметы для изучения</h2>
                        </div>
                    </div>
                    <div class="col-lg-6 offset-lg-1 col-md-8 offset-md-2 col-sm-8 offset-sm-2 col-8 offset-2">
                        <div class="row category-slied mt-40">
                            <div class="col-lg-4">
                                    <span class="singel-category text-center color-1">
                                        <span class="icon">
                                            <img src="{% static 'images/all-icon/ctg-1.webp' %}" alt="Физика">
                                        </span>
                                        <span class="cont">
                                            <span>Физика</span>
                                        </span>
                                    </span> <!-- singel category -->
                            </div>
                            <div class="col-lg-4">
                                    <span class="singel-category text-center color-2">
                                        <span class="icon">
                                            <img src="{% static 'images/all-icon/ctg-2.webp' %}" alt="Математика">
                                        </span>
                                        <span class="cont">
                                            <span>Математика</span>
                                        </span>
                                    </span> <!-- singel category -->
                            </div>
                            <div class="col-lg-4">
                                    <span class="singel-category text-center color-3">
                                        <span class="icon">
                                            <img src="{% static 'images/all-icon/ctg-3.webp' %}" alt="Казахский язык">
                                        </span>
                                        <span class="cont">
                                            <span>Казахский язык</span>
                                        </span>
                                    </span> <!-- singel category -->
                            </div>
                            <div class="col-lg-4">
                                    <span class="singel-category text-center color-1">
                                        <span class="icon">
                                            <img src="{% static 'images/all-icon/ctg-1.webp' %}" alt="Английский язык">
                                        </span>
                                        <span class="cont">
                                            <span>Английский язык</span>
                                        </span>
                                    </span> <!-- singel category -->
                            </div>
                            <div class="col-lg-4">
                                    <span class="singel-category text-center color-2">
                                        <span class="icon">
                                            <img src="{% static 'images/all-icon/ctg-3.webp' %}" alt="Естествознание">
                                        </span>
                                        <span class="cont">
                                            <span>Естествознание</span>
                                        </span>
                                    </span> <!-- singel category -->
                            </div>
                        </div> <!-- category slied -->
                    </div>
                </div> <!-- row -->
            </div> <!-- category -->
        </div> <!-- container -->
    </section>
    
    <!--====== CATEGORY PART ENDS ======-->
    <!--====== COURSE PART START ======-->
    
    <section id="course-part" class="pt-115 pb-70 gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-title pb-45">
                        <h5>Наши видеокурсы</h5>
                        <h2>Видеокурсы</h2>
                    </div> <!-- section title -->
                </div>
            </div> <!-- row -->
        
            {% if courses %}
            <div class="row  mt-30">
            	{% for c in courses %}
                {% if not c.is_target_course %}
                <div class="col-lg-4 mb-4">
                    <div class="singel-course">
                        <div class="thum">
                            <div class="image">
                            <a href="{% url 'videolessons' c.id %}">
                                <img src="{{ c.image.url }}" alt="Видеокурс {{ c.name }}">
                            </a>
                            </div>
                        </div>
                        <div class="cont">
                            <a href="{% url 'videolessons' c.id %}"><h4>{{c.name}}</h4></a>
                            <div class="course-teacher">
                                <div class="thum">
                                    <img src="{{c.teacher.image.url}}" alt="Преподаватель {{ c.teacher.first_name }} {{ c.teacher.last_name }}">
                                </div>
                                <div class="name very_special_in_index">
                                    <h6>{{c.teacher.first_name}} {{c.teacher.last_name}}</h6>
                                </div>
                            </div>
                        </div>
                    </div> <!-- singel course -->
                </div>
            {% endif %}
            {% endfor %}
            </div> <!-- course slied -->
            
            {% else %}
            <div class="row mt-30">
                <div class="col-lg-12 text-center">
                    <div class="alert alert-warning" role="alert">
                        <h4 class="alert-heading">Курсы временно недоступны или у вас нет доступа к ним</h4>
                        <p>К сожалению, на данный момент видеокурсы отсутствуют. Пожалуйста, зайдите позже или свяжитесь <a href="contact">с нами</a> для получения дополнительной информации.</p>
                    </div>
                </div>
            </div> <!-- row -->
            {% endif %}
        </div> <!-- container -->
    </section>
    
    <!--====== COURSE PART ENDS ======-->
{% endblock content %}
{% block last %}
<script>
    document.querySelectorAll('#navbarSupportedContent ul li')[0].querySelector('a').classList.add('active');
</script>
{% endblock last %}
