{% extends "base.html" %}
{% block content %}
<!-- Скопировать структуру из profile.html, но вместо табов сделать форму смены пароля -->
<section class="pt-90 pb-120 gray-bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="main-btn">Изменить пароль</button>
                    <a href="{% url 'profile' %}" class="btn btn-secondary">Отмена</a>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}