{% extends "base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/fractions_game/style.css' %}">
{% endblock head %}

{% block content %}

<section class="pt-30 pb-120 gray-bg">
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-12">
                <div class="trainer-container">
                    <h2>Тренажер уравнений</h2>
                    
                    <form id="equations-form">
                        {% csrf_token %}
                        <table class="trainer-table">
                            <tbody id="tasks-table"></tbody>
                        </table>

                        <div class="control-buttons">
                            <button id="check-btn" type="button" class="btn-check-answer">Проверить ответы</button>
                            <button id="next-btn" type="button" class="btn-next-task">Следующие задачи</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}

{% block last %}
<script>
var initial_equations = []
var unformatted_equations = []

$(document).ready(function () {
    loadNewEquations();

    $('#check-btn').on('click', function () {
        var formData = {
            equations: unformatted_equations,
            answers: []
        };

        $('#tasks-table input').each(function(index, element) {
            formData.answers.push($(element).val().trim());
        });

        $.ajax({
            url: "{% url 'equations_checker' %}",
            method: 'POST',
            data: JSON.stringify(formData),
            contentType: 'application/json',
            headers: {'X-CSRFToken': $('input[name="csrfmiddlewaretoken"]').val()},
            success: function (data) {
                if (data.success) {
                    displayResults(data.results);
                } else console.error('Ошибка при проверке ответов');
            },
            error: function () {
                console.error('Ошибка при отправке данных');
            }
        });
    });

    $('#next-btn').on('click', loadNewEquations);
});

function loadNewEquations() {
    $.ajax({
        url: "{% url 'equations_generator' %}",
        method: 'GET',
        success: function (data) {
            if (data.success !== false) {
                initial_equations = data.formatted_equations;
                unformatted_equations = data.equations;
                displayTasks(data.formatted_equations);
                clearResults();
            }
        },
        error: function () {
            console.error('Ошибка при загрузке уравнений');
        }
    });
}

function displayTasks(equations) {
    $('#tasks-table').empty();
    equations.forEach(function(equation, index) {
        $('#tasks-table').append(
            '<tr>' +
                '<td class="task-cell">' +
                    '<span class="task-number">' + (index + 1) + '</span>' +
                    '<span class="task-content">' + equation + '</span>' +
                '</td>' +
                '<td class="answer-cell">' +
                    '<div class="answer-input-wrapper">' +
                        '<input type="text" name="answer_' + index + '" required autocomplete="off" placeholder="Ответ">' +
                        '<span class="feedback-icon"></span>' +
                    '</div>' +
                '</td>' +
            '</tr>'
        );
    });
}

function displayResults(results) {
    $('#tasks-table input').each(function(index, element) {
        const input = $(element);
        const icon = input.siblings('.feedback-icon');
        input.removeClass('correct-answer incorrect-answer');
        if (results[index]) {
            input.addClass('correct-answer');
            icon.html('<i class="fa fa-check" style="color: limegreen;"></i>');
        } else {
            input.addClass('incorrect-answer');
            icon.html('<i class="fa fa-times" style="color: red;"></i>');
        }
    });
}

function clearResults() {
    $('#tasks-table input').removeClass('correct-answer incorrect-answer').val('');
    $('#tasks-table .feedback-icon').empty();
}
</script>
{% endblock last %}