{% load static %}
<style>
  .datepicker,
.table-condensed {
  width: 410px;
  height:410px;
  font-size: 20px;
}

</style>
<link rel="stylesheet" href="{% static 'date/bootstrap-multiselect.css' %}" integrity="sha512-tlP4yGOtHdxdeW9/VptIsVMLtgnObNNr07KlHzK4B5zVUuzJ+9KrF86B/a7PJnzxEggPAMzoV/eOipZd8wWpag==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="{% static 'date/bootstrap-datepicker.min.css' %}" integrity="sha512-34s5cpvaNG3BknEWSuOncX28vz97bRI59UnVtEEpFX536A7BtZSJHsDyFoCl8S7Dt2TPzcrCEoHBGeM4SUBDBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<div class="input-group multi-date-picker-widget">
  <input type="text" class="form-control" data-provide="datepicker" data-date-multidate="true" data-date-container='.multi-date-picker-widget' multiple>
  <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
</div>

<script src="{% static 'date/jquery_3.6.4.min.js' %}"></script>
<script src="{% static 'date/bootstrap-datepicker.min.js' %}" integrity="sha512-LsnSViqQyaXpD4mBBdRYeP6sRwJiJveh2ZIbW41EBrNmKxgr/LFZIiWT6yr+nycvhvauz8c2nYMhrP80YhG7Cw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{% static 'date/bootstrap-datepicker.ru.min.js' %}" charset="UTF-8"></script>

<script src="{% static 'date/bootstrap-multiselect.js' %}" integrity="sha512-YwbKCcfMdqB6NYfdzp1NtNcopsG84SxP8Wxk0FgUyTvgtQe0tQRRnnFOwK3xfnZ2XYls+rCfBrD0L2EqmSD2sA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
var $j = jQuery.noConflict();  // Assign jQuery to a variable other than $
//
const form = document.querySelector('#lesson_form') || 
          document.querySelector('#semester1_form') || 
          document.querySelector('#semester2_form') || 
          document.querySelector('#semester3_form') || 
          document.querySelector('#semester4_form') 
// Create the hidden input field
const hiddenInput = document.createElement('input');
hiddenInput.type = 'hidden';
hiddenInput.name = 'tmp';  // Replace with the desired name
hiddenInput.value = 'hidden_field_value';  // Replace with the desired value
hiddenInput.id = 'tmp_id';
form.appendChild(hiddenInput);
//
document.addEventListener('DOMContentLoaded', function() {
  const datepickerInput = $j('.multi-date-picker-widget input');
  console.log(datepickerInput);
  datepickerInput.datepicker({language:'ru', format:'yyyy-mm-dd', orientation: "auto"})
    .on('changeDate', function() {
      const selectedDates = datepickerInput.val();
      console.log(selectedDates);
      tmp_field = document.getElementById('tmp_id');
      tmp_field.value = selectedDates;
      console.log(tmp_field);
    });
});
</script>

